<!DOCTYPE html5>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Details</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">IMS</a>
          <div class="ms-auto">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="http://127.0.0.1:8000/ ">Home</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    {{user.first_name}}
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    
                    <li><a class="dropdown-item" href="http://127.0.0.1:8000/accounts/logout/">Sign out.</a></li>
                    
                    </ul>
                </li>
                </ul>
            </div>
        </div>
        </div>
      </nav>
    <h1 style="text-align:center;">This is the list of items available in the inventory.</h1>
    <div style="text-align:center;">
        
    </div>
    <table class="table">
        <tr>
            <th>Type of item</th>
            <th>Name of the item</th>
            <th>Quantity available</th>
            <th>No. of item currently issued out</th>
            <th>Unique item code</th>
            <th>Issue links</th>
        </tr>
        {% for thing in item_list %}
            <tr >
                <td>{{thing.type_of_item}}</td>
                <td>{{thing.name_of_item}}</td>
                <td>{{thing.total_qty}}</td>
                <td>{{thing.current_out}}</td>
                <td>{{thing.unique_code}}</td>
                {%if thing.total_qty > 0 %}
                    <td><a class="btn btn-primary" href="{% url 'fnapp:issue' thing.unique_code %}">Issue this item.</a></td>
                {% endif %}
                {% if thing.total_qty <= 0 %}
                    <td>Not enough quantity.</td>
                {% endif %}

            </tr>
        {% endfor %}
    </table><br>
        
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</body>
</html>